In [10]:
import pandas as pd
import os, sys
project_root = os.path.abspath("../")
sys.path.append(project_root)
print("Added path:", project_root)

Added path: /Users/arnaudthomas/code/ArnaudThs/StockProphet/StockProphet

In [11]:
from Project.param import *
from Project.data import load_data
from Project.sentiment_analysis import (
    get_filtered_massive_sentiment_simple,
    get_daily_sentiment_filled
)

In [12]:
from Project.main import *
print("main.py imports successfully!")

main.py imports successfully!

In [18]:
ohlcv = load_market_data(TICKER)
ohlcv.head()

/Users/arnaudthomas/code/ArnaudThs/StockProphet/StockProphet/Project/data.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

        date       Close        High         Low        Open    Volume
0 2025-01-02  242.752090  247.978453  240.731232  247.809205  55740700
1 2025-01-03  242.264297  243.080598  240.800915  242.264297  40244100
2 2025-01-06  243.896912  246.216423  242.105013  243.210016  45045600
3 2025-01-07  241.119476  244.444435  240.263348  241.885999  40856000
4 2025-01-08  241.607269  242.612732  238.969207  240.830782  37628900

In [17]:
sentiment = load_sentiment()
sentiment.head()

        date  sentiment
0 2025-01-01        0.0
1 2025-01-02        0.0
2 2025-01-03        0.0
3 2025-01-04        0.0
4 2025-01-05        0.5

In [15]:
from Project.data import *
from Project.model import *

In [19]:
ohlcv = load_market_data(TICKER)
df_prices = ohlcv[["date", "Close"]].rename(columns={"date": "Date"})

/Users/arnaudthomas/code/ArnaudThs/StockProphet/StockProphet/Project/data.py:17: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

In [20]:
X_train, y_train, X_test, y_test, scaler_y = train_test_split_lstm(df_prices, time_step=50)

IndexError: tuple index out of range

In [ ]:
df_prices.head()

        Date       Close
0 2024-01-02  183.903214
1 2024-01-03  182.526245
2 2024-01-04  180.208130
3 2024-01-05  179.484909
4 2024-01-08  183.823975

In [ ]:
df_pred = build_lstm_prediction_df(y_pred, time_step=50)
df_pred.head()

NameError: name 'y_pred' is not defined